# Archivos y directorios específicos de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.env
sirfaj_env/

# Archivos de configuración de IDEs
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de registro
*.log

# Directorios de salida
output/
results/

# Archivos de caché de Streamlit
.streamlit/

# Archivos de modelo (si son demasiado grandes para GitHub)
# models/*.h5
# models/*.caffemodel

# Archivos de datos (si son demasiado grandes o contienen información sensible)
data/

# Archivos temporales
*.tmp

# Archivos de dependencias
node_modules/

# Archivos de compilación
*.so

# Archivos de distribución
dist/
build/
*.egg-info/

# Archivos de configuración local
config.ini
secrets.json

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de respaldo
*.bak

# Directorios y archivos específicos del proyecto (ajusta según sea necesario)
# project_specific_file.txt
# project_specific_directory/